.blacksmithingProfessionTrainer {
    color: rgb(112, 34, 0)
}
.leatherworkingProfessionTrainer {
    color: rgb(215, 79, 21)
}
.magicWeavingProfessionTrainer {
    color: rgb(91, 185, 168)
}

.gameMaster {
    color: rgb(74, 54, 174)
}

.shadowyDealer-name {
    color: rgb(127, 44, 127)
}

.tavern-keeper {
    color: rgb(128, 83, 59);
}
.bromwelBoulderbash-name {
    color: rgb(194, 35, 27);
}

.telgremGreyhorn-name {
    color: rgb(106, 106, 133)
}

.gulthradGreenbeard-name {
    color: rgb(72, 105, 48)
}
.ulfregSnagdril-name {
    color: rgb(210, 116, 43)
}

.seltathSilverwood-name {
    color: rgb(98, 223, 142)
}
.arlasSilverwood-name {
    color: rgb(98, 190, 223)
}

.recall-stone {
    color: rgb(26, 127, 215)
}

.tulaf-name {
    color: rgb(126, 83, 60);
}

.tulaf-title {
    color: rgb(161, 156, 156);
}